{%extends 'base.html'%}
{%load static%}
{% load widget_tweaks %}

{%block content%}
<div id="layoutSidenav">
	<main>     		
		<div class="card-body">
			<form method="get" id="grafica2form">    			 
				{% csrf_token %}
				{% include 'base_filter.html' with form=filter.form divisiones=6 anchocolumna="col-lg-2"%}				
			</form>					
			<table class="table table-bordered" id="x" width="100%" cellspacing="0">
				<thead>
					<tr>						
						<th>Fecha de Ingreso</th>									
						<th>Channel </th>
						<th>Tracking Number </th>
						<th>Entrega Channel</th>												
						<th>Entrega Carrier</th>						
						<th>Ultimo Estado</th>						
						<th>Ultimo Excepcion</th>						
						<th>Shipment</th>						
						<th>Fulfillment Location</th>
						<th>State Region</th>
					</tr>
				</thead>				
				{% for ifilter2 in filter2 %}
				<tbody>
					<tr>
						<td> {{ifilter2.fechaingreso|date:'d/m/Y'}} </td>     
						<td> {{ifilter2.channel}}    </td> 
						<td> {{ifilter2.trackingnumber}}	     </td> 
						<td> {{ifilter2.fechaentregasegunchannel|date:'d/m/Y'}}       </td>																	
						<td> {{ifilter2.fechaentregaseguncarrier|date:'d/m/Y'}}  </td>						
						<td> {{ifilter2.ultimoestado}}  </td>						
						<td> {{ifilter2.ultimaexcepcion}}  </td>						
						<td> {{ifilter2.shipmentdate|date:'d/m/Y'}}  </td>	
						<td> {{ifilter2.fulfillmentlocationname}} </td>
						<td> {{ifilter2.stateregion}} </td>
					</tr>
				</tbody>
				{% endfor %}	  
			</table>	  			
		</div>		
		
		<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">			
			{% if filter2.has_other_pages %}
			  <ul class="pagination">
				{% if filter2.has_previous %}
				  <li class="paginate_button page-item previous enabeled" id="dataTable_previous"><a href="?page=1&{{ parameters }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">First</a></li>
				  <li class="paginate_button page-item previous enabeled" id="dataTable_previous"><a href="?page={{ filter2.previous_page_number }}&{{ parameters }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
				{% else %}
			  	  <li class="paginate_button page-item previous inactive" id="dataTable_previous"><a href="?page=1&{{ parameters }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">First</a></li>			
				  <li class="paginate_button page-item previous inactive" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
				{% endif %}
				
				   <li class="paginate_button page-item active">
					   <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
							Page {{ filter2.number }} of {{ filter2.paginator.num_pages }}.
					   </a>
				   </li>
				
				{% if filter2.has_next %}
				  <li class="paginate_button page-item next enabled" id="dataTable_next">
					<a href="?page={{ filter2.next_page_number }}&{{ parameters }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
				  </li>
				  <li class="paginate_button page-item next enabled" id="dataTable_next">
					<a href="?page={{ filter2.paginator.num_pages }}&{{ parameters }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Last</a>
				  </li>
				{% else %}
				  <li class="paginate_button page-item next inactive" id="dataTable_next">
					<a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
				  </li>
				  <li class="paginate_button page-item next inactive" id="dataTable_next">
					<a href="?page={{ filter2.paginator.num_pages }}&{{ parameters }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Last</a>
				  </li>
				{% endif %}
			  </ul>
			{% endif %}
		</div>
	</main>
</div>
{% endblock %}
