{%extends 'base.html'%}
{%load static%}
{% block content %}
<div id="layoutSidenav">
	<main>    
		<a href="/revisarOperadores/">Ver Operadores pendientes</a>
		<div class="card-body">	
			{% if detalles_lote_list %}			
			<div class="table-responsive">
				<table class="table table-bordered" id="#" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Id</th>
							<th>batchid</th>
							<th>saleslisting</th>
							<th>ASIN  </th>
							<th>UPC</th>
							<th>Sku</th>
							<th>Estado</th>
							<th>Estado Match</th>
							<th>Operador</th>
							<th>Similitud</th>
							<th>Correcto</th>
							<th>Incorrecto</th>
						</tr>
					</thead>						
					{% for detalle in detalles_lote_list %}
					<tbody>
						<tr>
							<td><a href="/comparacion/{{ detalle.id }}">{{detalle.id}}</a></td>
							<td> {{detalle.batchid}}	</td>
							<td> {{detalle.saleslisting}}        	</td>
							<td> {{detalle.asin}}  	</td>
							<td> {{detalle.upc}} 		</td>
							<td> {{detalle.sku}} 		</td>
							<td> {{detalle.get_status_display}} 		</td>
							<td> {{detalle.get_matchstatus_display}} 		</td>
							<td> {{detalle.get_operador_display}} 		</td>
							<td> {{detalle.porcentajesimilitud}} %   	</td>
							<td>
								<a href="/listingCorrecto/{{ detalle.id }}/{{ detalle.operador }}" name="action" value="Correcto">
									Correcto
								</a>
							</td>
							<td>
								<a href="/listingIncorrecto/{{ detalle.id }}/{{ detalle.operador }}" name="action" value="Incorrecto">
									Incorrecto
								</a>
							</td>
						</tr>
					</tbody>
					{% endfor %}	  
				</table>	  
			</div>			
		   {% else %}
			  <p>No hay pendientes por revisar de este usuario</p> 
		   {% endif %}
			<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">			
				{% if filter2.has_other_pages %}
				  <ul class="pagination">
					{% if filter2.has_previous %}
					  <li class="paginate_button page-item previous enabeled" id="dataTable_previous"><a href="?page=1" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">First</a></li>
					  <li class="paginate_button page-item previous enabeled" id="dataTable_previous"><a href="?page={{ filter2.previous_page_number }}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
					{% else %}
			  		  <li class="paginate_button page-item previous inactive" id="dataTable_previous"><a href="?page=1" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">First</a></li>			
					  <li class="paginate_button page-item previous inactive" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
					{% endif %}
				
					   <li class="paginate_button page-item active">
						   <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
								Page {{ filter2.number }} of {{ filter2.paginator.num_pages }}.
						   </a>
					   </li>
				
					{% if filter2.has_next %}
					  <li class="paginate_button page-item next enabled" id="dataTable_next">
						<a href="?page={{ filter2.next_page_number }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
					  </li>
					  <li class="paginate_button page-item next enabled" id="dataTable_next">
						<a href="?page={{ filter2.paginator.num_pages }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Last</a>
					  </li>
					{% else %}
					  <li class="paginate_button page-item next inactive" id="dataTable_next">
						<a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
					  </li>
					  <li class="paginate_button page-item next inactive" id="dataTable_next">
						<a href="?page={{ filter2.paginator.num_pages }}" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Last</a>
					  </li>
					{% endif %}
				  </ul>
				{% endif %}
			</div>
		</div>
	</main>
</div>
{% endblock %}