{% load widget_tweaks %}

<div class="form-group">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="form-row align-items-start">
    {% for field in form.visible_fields %}                   
        <div class="{{anchocolumna}}">
            <label for="colFormLabelSm" class="col-form-label col-form-label-sm">{{ field.label_tag }}</label>
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control form-control-sm is-invalid" %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control form-control-sm is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control form-control-sm" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}                
            <br />
        </div>                         
        {%if forloop.counter|divisibleby:divisiones %}
           </div>
           <div class="form-row align-items-start">
        {%endif%}      
    {% endfor %}
</div>    

                           
